.simplegallery-term {
float:left;
}

.simplegallery-showlink {
float:right;
}

.simplegallery-teaserimages {
width:100%;
}

.simplegallery-teaserimages img{
padding: 0.3em;
}

.simplegallery-table {
width:100%;
}
.simplegallery-table tr td{
text-align:center;
vertical-align:top;
padding:0px;
width:175px;
font-size:0.7em;
font-weight:bold;
}

.simplegallery-table tr.even{
background-color:#EDEDED;
}